.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  width: 100%;
  min-height: max-content;
  border: 1px solid var(--gray-200);
  border-radius: 16px;
  overflow: hidden;
  transition: var(--transition);
}

.item .main-info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.item .main-info .img-container {
  position: relative;
  display: flex;
  min-width: 160px;
  width: 160px;
  height: 128px;
  border-radius: 12px;
  overflow: hidden;
}

.item .main-info .img-container.active {
  cursor: pointer;
  transition: var(--transition);
}

.item .main-info .img-container.active:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.item .main-info .img-container .empty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-300);
  color: var(--gray-500);
}

.item .main-info .img-container .size {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white);
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
  border-bottom-right-radius: 8px;
}

.item .main-info .details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.item .main-info .details .top {
  display: flex;
  flex-direction: column;
}

.item .main-info .details .top .first-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.item .main-info .details .top .first-row .title-container {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.item .main-info .details .top .first-row .title-container .title {
  color: var(--gray-900);
  font-size: var(--text-lg);
  line-height: var(--line-height-lg);
  font-weight: 600;
}

.item .main-info .details .top .first-row .title-container .status-info {
  display: flex;
  align-items: center;
  gap: 6px;
  height: var(--line-height-lg);
}

.item
  .main-info
  .details
  .top
  .first-row
  .title-container
  .status-info
  .status {
  min-width: 12px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}

.item
  .main-info
  .details
  .top
  .first-row
  .title-container
  .status-info
  .status[data-value="0"] {
  background-color: var(--yellow-400);
}
.item
  .main-info
  .details
  .top
  .first-row
  .title-container
  .status-info
  .status[data-value="1"] {
  background-color: var(--teal-400);
}
.item
  .main-info
  .details
  .top
  .first-row
  .title-container
  .status-info
  .status[data-value="2"] {
  background-color: var(--red-400);
}

.item .main-info .details .top .first-row .actions-wrapper .actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  right: -75px;
  top: 0;
  padding: 12px;
  height: 100%;
  min-height: max-content;
  border-left: 1px solid var(--gray-200);
  background-color: var(--white);
  transition: var(--transition);
}
.item .main-info .details .top .first-row .actions-wrapper .actions.visible {
  right: 0px;
}
.item:has(.actions.visible) {
  min-height: 144px;
}

.item .main-info .details .top .poc {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 12px;
  padding-inline-start: 0px;
}

.item .main-info .details .top .poc .poc-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item .main-info .details .top .poc .poc-info .marker {
  width: 6px;
  height: 6px;
  border-radius: 12px;
  border: 1px solid var(--teal-400);
}

.item .main-info .details .top .poc .poc-info .content {
  color: var(--gray-900);
  font-size: var(--text-md);
  line-height: var(--line-height-md);
}

.item .main-info .details .materials {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item .main-info .details .materials .material {
  padding: 2px 8px;
  background-color: var(--gray-200);
  border-radius: 4px;
  color: var(--gray-900);
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
  font-weight: 400;
}

.item .notes {
  color: var(--gray-900);
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
}

@media only screen and (max-width: 767px) {
  .item .main-info .img-container {
    display: none;
  }

  .item .main-info .details {
    gap: 12px;
  }

  .item .main-info .details .top {
    gap: 6px;
  }

  .item .main-info .details .top .first-row .title-container {
    gap: 12px;
  }

  .item .main-info .details .top .first-row .title-container .title {
    font-size: var(--text-md);
    line-height: var(--line-height-md);
  }

  .item
    .main-info
    .details
    .top
    .first-row
    .title-container
    .status-info {
      height: var(--line-height-md);
    }

  .item
    .main-info
    .details
    .top
    .first-row
    .title-container
    .status-info
    .status {
    display: none;
  }
  .item:has(.status[data-value="0"]),
  .item:has(.status[data-value="0"])
    .main-info
    .details
    .top
    .first-row
    .actions-wrapper
    .actions {
    background-color: var(--yellow-50);
    border-color: var(--yellow-400);
  }
  .item:has(.status[data-value="1"]),
  .item:has(.status[data-value="1"])
    .main-info
    .details
    .top
    .first-row
    .actions-wrapper
    .actions {
    background-color: var(--teal-50);
    border-color: var(--teal-400);
  }
  .item:has(.status[data-value="2"]),
  .item:has(.status[data-value="2"])
    .main-info
    .details
    .top
    .first-row
    .actions-wrapper
    .actions {
    background-color: var(--red-50);
    border-color: var(--red-400);
  }

  .item .notes {
    display: none;
  }
}
