#modal-root .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  animation: .2s forwards alternate opacity;
  z-index: 4;
}

#modal-root .modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 50%;
  max-width: calc(100vw - 48px);
  width: max-content;
  max-height: calc(100% - 48px);
  transform: translateX(-50%);
  background-color: var(--white);
  border-radius: 24px;
  overflow: auto;
  z-index: 5;
  animation: .3s forwards alternate top-move-in-smu;
}

#modal-root .modal::-webkit-scrollbar {
  display: none;
}

#modal-root .modal .delete-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
}

#modal-root .modal .delete-alert h3, #modal-root .modal .delete-alert p {
  width: 100%;
  text-align: center;
}

#modal-root .modal .delete-alert h3 {
  font-size: var(--text-xl);
  line-height: var(--line-height-xl);
  color: var(--red-400);
  font-weight: 700;
}

#modal-root .modal .delete-alert p {
  font-size: var(--text-md);
  line-height: var(--line-height-md);
  color: var(--gray-900);
}

#modal-root .modal .delete-alert .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}

@keyframes top-move-in-smu {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 48px;
  }
}

@keyframes top-move-in-smd {
  from {
    opacity: 0;
    top: 0px;
  }
  to {
    opacity: 1;
    top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  #modal-root .modal {
    max-width: calc(100vw - 24px);
    width: max-content;
    max-height: calc(100% - 24px);
    border-radius: 16px;
    animation: .3s forwards alternate top-move-in-smd;
  }
  #modal-root .modal .delete-alert {
    padding: 12px;
  }
}