.items-list {
  padding: 1px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 24px;
}

.items-list .empty-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.items-list .empty-list img {
  min-width: unset;
  min-height: unset;
  max-width: 100%;
}
.items-list .empty-list p {
  text-align: center;
  font-size: var(--text-md);
  line-height: var(--line-height-md);
}
.items-list .empty-list button {
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
  .items-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 12px;
    gap: 12px;
    padding-bottom: 12px;
  }
}